/* .container{
    margin: 0% 8% 0% 40px;
    overflow: hidden;
} */
.navbar{
    /* overflow: hidden; */
    /* min-height: 100vh;
    max-height: 100vh; */
}
#main-header{
    background-color: cornflowerblue;
    padding: 1.25% 3%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main-header h1{
    float: left;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
}
#header-pic img{
    float: right;
    opacity: 90%;
    border-radius: 40px;
    border-color: ghostwhite;
    height: 50px; 
    width: 50px;
}
.navbar-left{
    /* box-shadow: inset 0px 36px 0px 0px darkgray;
    padding: 6px 10px 6px 5%; */    
    overflow: hidden;
    background-color: darkgray;
    color: white;
    margin: 0;
    /* min-height: 100vh; */
    max-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /* width: 210px; */
    /* height: 600px; */
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 37.5%;
    /* padding-bottom: calc(100vh - 60px); */
    /* padding-bottom: 100%; */
    /* padding-bottom: (100 - 80)%; */
    /* flex: 1; */
    float: left;
    /* box-sizing: border-box; */
    font-size: 14px;
}
/* .navbar-left-sections {
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar-container-sections .navbar-section{
    padding-right: 40px;
}
.navbar-section div{
    display: none;
} */
.navbar-section {
    font-weight: 600;
    padding: 4px 0px 4px 0px;
    
}
.navbar-section-item {
    font-size: 12px;
    /* padding-left: 8px; */
    padding: 1px 0px 1px 8px;
}